@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div>
        @DateTime.Now
        <br />
        <a href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/newrelicinc1635200720692.newrelic_liftr_payg?exp=ubp8&tab=Overview">
            <button>Visit Azure Marketplace</button>
        </a>
    </div>
